[Unit]
Description=Web server for Narupa as a Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/covid-docker/naas_server
PermissionsStartOnly=true
ExecStartPre=/bin/bash /home/ubuntu/covid-docker/naas_server/open-ports.sh
ExecStart=/home/ubuntu/miniconda/bin/gunicorn -b 0.0.0.0:8000 -w 4 naas_server:app
ExecStopPost=/sbin/iptables -I INPUT 1 -p tcp --dport 80 -j REFUSE

[Install]
WantedBy=multi-user.target
