[Unit]
Description=Web server for Narupa as a Service
After=network.target

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/environment
WorkingDirectory=/home/ubuntu/covid-docker/naas_server
PermissionsStartOnly=true
ExecStartPre=/bin/bash /home/ubuntu/covid-docker/naas_server/open-ports.sh
ExecStart=/usr/bin/authbind /home/ubuntu/miniconda/bin/gunicorn -b unix:naas_server.sock -w 1 naas_server:app

[Install]
WantedBy=multi-user.target
