<html>
	<head>
		<title>Narupa as a Service</title>
		{% if available %}
		<meta http-equiv="refresh" content="5">
		{% endif %}
	</head>
	<body>
		{% if available %}
		{% if narupa_status %}
		<p>You can connect to {{ ip }}.</p>
		{% else %}
		<p>The job is in preparation.</p>
		{% if oci_state == 'RUNNING' %}
		<p>Waiting for Narupa</p>
		{% endif %}
		{% endif %}
		{% else %}
		<p>The job is unavailable.</p>
		<p><a href="{{ url_for('index') }}">Back to home page</a></p>
		{% endif %}
	</body>
</html>
