<html>
	<head>
		<title>Narupa as a Service</title>
		{% if available %}
		<meta http-equiv="refresh" content="5">
		<link rel="stylesheet" href={{ url_for('static', filename='main.css') }}>
		<script src={{ url_for("static", filename="clipboard.min.js") }}></script>
		{% endif %}
	</head>
	<body onload="new ClipboardJS('.btn');">
		{% if available %}
			{% if narupa_status %}
				<p>You can connect to {{ ip }}.</p>
				<button class="btn" data-clipboard-text="{{ ip }}">
				   Copy to clipboard
				</button>
			{% else %}
				<p>The job is in preparation.</p>
				{% if oci_state == 'RUNNING' %}
					<p>Waiting for Narupa</p>
				{% endif %}
			{% endif %}
			<p><a href="{{ terminate_url }}">Cancel the instance</a></p>

			<table>
			{% for key, value in metadata.items() %}
			<tr><td>{{ key}}</td><td>{{ value }}</td></tr>
			{% endfor %}
			</table>

		{% else %}
		<p>The job is unavailable.</p>
		<p><a href="{{ url_for('index') }}">Back to home page</a></p>
		{% endif %}
	</body>
</html>
